{% extends "../base/base.html" %}


{%load static%}


{% block title %}Receitas{% endblock %}

{%block imports%}
<link rel="stylesheet" type="text/css" href="{%static 'receitas/receitas.css'%}">
{% endblock %}


{% block content %}    


        <script>
        function redirect(id){
            location.replace("/disprecipe/?rec="+id)
        }
    </script>
    <!--Apresentação das receitas-->
    <div class="row  d-flex justify-content-center">
        <div class="row col-sm-9">
            {%for receita in receitas%}
                <div  class="col-4 col-sm-4 col-md-3 item" onclick="redirect({{receita.id}})">
                    <div class="thumbnail" style="margin:5px">
                            <img src="{{receita.capa.url}}" class="img-fluid" alt="Responsive image">
                            <div class="caption">
                                <p class="h5">{{receita.titulo}}</p>
                                <br>
                                {{receita.descricao}}
                            </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </div>

{% endblock %}
    

    
