{% extends "../base/base.html" %}

{% load static %}

{% block imports %} 
<script type="text/javascript" src="{%static 'inserir_receitas/inserir_receitas.js'%}"></script>
{% endblock %}

{% block title %}Coloque aqui suas receitas!{% endblock %}

{% block content%}

<div class="row d-flex justify-content-center">
    <div class="form-group col-sm-5 mt-5">
        <label class="h5" for="titulo">Título</label>
        <textarea class="form-control" id="titulo" rows="1" style="resize:none;" maxlength="50"></textarea>
    </div>
</div>


<div class="row d-flex justify-content-center">
        <div class="form-group col-sm-5">
            <label class="h5" for="descricao">Descrição</label>
            <textarea class="form-control" id="descricao" rows="7" style="resize:none;"></textarea>
        </div>
</div>

<div class="row d-flex justify-content-center">
        <div class="form-group col-sm-5">
            <label class="h5" for="ingredientes">Ingredientes</label>
            <textarea class="form-control" id="ingredientes" rows="10" style="resize:none;"></textarea>
        </div>
</div>


<div class="row d-flex justify-content-center">
        <div class="form-group col-sm-5">
            <label class="h5" for="modo">Modo de Preparo</label>
            <textarea class="form-control" id="modo" rows="15" style="resize:none;"></textarea>
        </div>
</div>

<div class="row d-flex align-items-center justify-content-center mb-5">
    <button onclick="enviar()" class="mt-5 mb-2 col-sm-4 btn btn-outline-success my-2 mx-5" type="submit">Enviar</button>
</div>

{% endblock %}
