{% extends "../base/base.html" %}
    {% load static %}

    {%block imports%}
    <link rel="stylesheet" type="text/css" href="{%static 'home/home.css'%}">
    <script type="text/javascript" src="{%static 'home/home.js'%}"></script>
    {% endblock %}
    
    <link rel="shortcut icon" href="media/favicon.ico" >
    {% block title %}Tempere-Se{% endblock %}
    
    {% block content %}    
        <!-- The slideshow -->
        <div class="row d-flex justify-content-center">
            <div class="banner slider">
                <div id="demo" class="carousel slide" data-ride="carousel"  data-interval="false">                 
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <!-- <li data-target="#demo" data-slide-to="2"></li> -->
                    </ul>    
                          
                    <!-- Slide images -->
                    <div class="carousel-inner d-none d-md-block">  
                        {%for i in propaganda %}
                            {%if i == propaganda.0%}
                                <div class="carousel-item active ">
                                    <img src="{{propaganda.0.publi.url}}" class="img-fluid" alt="{{publi.nome}}">
                                </div>
                            {%else%}
                                <div class="carousel-item ">
                                    <img src="{{i.publi.url}}" class="img-fluid" alt="{{publi.nome}}">
                                </div>
                            {%endif%}   
                        {%endfor%}
                    </div>    
                        
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                        
                </div>
            </div> 
        </div>    
        <!-- The slideshow -->

        <script>
            function redirect(produto) {
                location.href = "/produto/?prod="+produto
            }
        </script>
        <!-- Produtos -->
        <div class="row  d-flex justify-content-center">
            <div class="row col-sm-9">
                {%for prod in produtos%}
                    <div onclick="redirect({{prod.id}})" class="col-4 col-sm-4 col-md-3 item"> 
                        <div class="thumbnail" style="margin:5px">
                            <img src="{{prod.foto.url}}" class="img-fluid" alt="Responsive image">
                            <div class="caption">
                                <p class="text-center h6">{{prod.nome}}</p>
                                <p class="text-center text-muted">R$ {{prod.preco}}</p>
                            </div>
                        </div>        
                    </div>                    
                {%endfor%}    
            </div>    
        </div>
    {% endblock %}    