{% extends "../base/base.html" %}

{% block title %}Perfil{% endblock %}

{% load static %}
{%block imports%}
<script type="text/javascript" src="{%static 'perfil/perfil.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'perfil/perfil.css'%}">
{% endblock %}

         
{% block content%} 

    
    <div class="row">
        <div class="col-sm-3 list-group" style="background-color:#f8f9fa;">
            <div class="mt-2"></div>
            <a href="/perfil/?op=1" class="options ml-2 list-group-item list-group-item-action">Resumo</a>
            <a href="/perfil/?op=2" class="options ml-2 list-group-item list-group-item-action" >Alterar senha</a>
            <a href="/perfil/?op=3" class="options ml-2 list-group-item list-group-item-action">Minhas Compras</a>
            <a href="/perfil/?op=4" class="options ml-2 list-group-item list-group-item-action disabled">Minhas Receitas</a>
        </div>

    
    {%if op == "1"%}
        <!-- A página inicia no resumo -->
        <div id="option" class="col-sm-9">
                <p class="h3  mt-3">Resumo</p>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
    
                <div class="row">
                    <p class="h4  mt-2 col-sm-8">Informações Pessoais.</p>
                    <div class="form-group col-sm-5">
                        <input id="nome"  type="text" class="form-control" placeholder="Nome" 
                            value="{{user.0.first_name}}"/>
                    </div>
                    
                    <div class="form-group col-sm-5">
                        <input id="sobrenome"  type="text" class="form-control" placeholder="Sobrenome" 
                            value="{{user.0.last_name}}"/>
                    </div>
    
                    <div class="form-group col-sm-5">
                        <input id="email"  type="text" class="form-control" placeholder="e-mail" 
                            value="{{user.0.email}}"/>
                    </div>
    
                    <div class="form-group col-sm-5">
                        <input id="telefone"  type="text" class="form-control" placeholder="Telefone" 
                            value="{{user.0.telefone}}"/>
                    </div>
                    
                </div>
    
                <div class="row mt-4">
                    <p class="h4  mt-2 col-sm-8">Endereço.</p>
                    <div class="form-group col-sm-5">
                        <input id="rua"  type="text" class="form-control" placeholder="Rua" 
                            value="{{user.0.endereco.rua}}"/>
                    </div>
                    <div class="form-group col-sm-5">
                        <input id="numero"  type="text" class="form-control" placeholder="Numero" 
                            value="{{user.0.endereco.numero}}"/>
                    </div>
                    <div class="form-group col-sm-5">
                        <input id="bairro"  type="text" class="form-control" placeholder="Bairro" 
                            value="{{user.0.endereco.bairro}}"/>
                    </div>
                    <div class="form-group col-sm-5">
                        <input id="complemento"  type="text" class="form-control" placeholder="Complemento" 
                            value="{{user.0.endereco.complemento}}"/>
                    </div>
                </div>
    
                <div class="row align-items-center justify-content-center">
                    <button onclick="alter({{user.0.id}},{{user.0.endereco.id}})" class="col-sm-5 btn btn-outline-success my-5 mx-5" type="submit">Confirmar Informações</button>
                    <div class="col-sm-2"></div>
                </div>
            </div>

    {% elif op == "2" %}    
        <!-- Alterar senha -->
        <div id="option" class="col-sm-9">
            <p class="h3  mt-3">Alterar Senha</p>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 140px;">

            <div class="row align-items-center justify-content-center mt-4">
                <div class="form-group col-sm-5">
                        <input id="senha"  type="password" class="form-control" placeholder="Nova senha"/>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="form-group col-sm-5">
                        <input id="confirm"  type="password" class="form-control" placeholder="Confirmar senha"/>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <div class="col-sm-1"></div>
                <button onclick="sc({{user.0.id}})" class="col-sm-3 btn btn-outline-success mb-5 mt-3 ml-5" type="submit">Alterar Senha</button>
                <div class="col-sm-2"></div>
            </div>

       </div>  
    {% elif op == "3" %} 
        <!-- Compras -->
        <div id="option" class="col-sm-9">
            <p class="h3  mt-3">Minhas Compras</p>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 150px;">
            
            <ul class="list-group col-sm-10">
                    <div class="mt-1"></div>
                    {% for ped in pedidos %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ped.data}}
                        <span>
                            <a href="#">Ver</a>
                        </span>
                    </li>    
                    {% endfor %}
                </ul>

        </div>

    {% elif op == "4" %}
        <!-- Receitas -->
        <div id="option" class="col-sm-9">
            <p class="h3  mt-3">Minhas Receitas</p>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 150px;">
        
            <ul class="list-group col-sm-10">
                <div class="mt-1"></div>
                {% for rec in receita %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{rec.titulo}}
                    <span>
                        <a href="#">excluir </a>
                        |
                        <a href="#"> editar</a>
                    </span>
                </li>    
                {% endfor %}
            </ul>

        
        </div>    
    
   
    {% endif %}
          
    

    </div>

{% endblock %}