<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- javascript cookies cdn -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    {% load static %}
    <script type="text/javascript" src="{%static 'base/base.js'%}"></script>
    
    {% block imports %} {% endblock %}
    <link rel="shortcut icon" href="../media/favicon.ico" >
    
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<div class="container-fluid">
{% block cabeca%}   
        <div  class="row">
                <nav class="navbar navbar-light col-12 col-sm-12" style="background-color: #116623;">
                <!-- Navbar content -->
                </nav>
            </div>
                
            <!-- imagem + campo de busca -->
            <div class="row justify-content-center align-items-center" style="padding: 1%;">
                            <div class=" col-6 col-sm-2 ">
                                <img src="/media/logo2018.png" class="img-fluid" alt="Responsive image">
                            </div>
                                    
                            <div class="col-12 col-md-5 ">
                                    <form class="form-inline" action="../" method="POST">
                                        {% csrf_token %}
                                        <input name="busca" class="form-control mr-sm-2  col-9 col-sm-8" type="search" 
                                            placeholder="O que você procura?" aria-label="Search" >
                                        <button class="btn btn-outline-success my-3 my-sm-0" type="submit">Buscar</button>
                                    </form>
                </div>
            </div>   
        <!-- imagem + campo de busca -->

        <!-- navbar com opções -->
        <div class="row">
            <nav class="navbar col-sm-12 navbar-expand-lg navbar-light bg-light" >
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/receitas">Receitas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Coisas do Sítio</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto mr-sm-4">
                        <div id="logado">    
                            <li class="nav-item mr-sm-4">                            
                                <a class="nav-link" href="/login">Entrar</a>
                            </li>
                        </div>
                    </ul>
                    </div>                    
                </div>
            </nav>
        </div>       
        <!-- navbar com opções -->         
{%endblock%}
    
{% block content%}

{% endblock %}

{%block footer%}
    <!--footer-->
    <footer class="page-footer font-small unique-color-dark">
        <div style="background-color: #116623;">
            <div class="container">
                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-white text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0">Nos acompanhe também pelas redes sociais!</h6>
                    </div>
                    <!-- Grid column -->
    
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-white text-center text-md-right">
                        <!--Instagram-->
                        <a href="https://www.instagram.com/tempere_se/" class="text-white ins-ic" 
                                 target="_blank" style="font-size: 28px;">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Tempere-Se</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>A dois anos fornecendo produtos saudáveis e de boa procedência a preços justos!</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Missão</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>tentar dominar o mundo</p>
        </div>
        <!-- Grid column -->

        

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contatos</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> Aracaju, SE, BR</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> contato@temperese.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 55 79 9 9892-9560</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white" style="background-color: #116623;">© 2018 Copyright:
    </div>
    <!-- Copyright -->

    </footer>
    <!-- Footer -->   
{%endblock%}

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>