{% extends "../base/base.html" %}

{% block title %}Login{% endblock %}

{% load static %}
{%block imports%}
<link rel="stylesheet" type="text/css" href="{%static 'login/login.css'%}">
<script type="text/javascript" src="{%static 'login/login.js'%}"></script>
{% endblock %}

         
{% block content%}    
    <!-- campo de login -->
    <div class="row justify-content-center align-items-center">
        <div class="row justify-content-center align-items-center item my-5 col-sm-6 ">   
            <div id="loginbox" class="col-sm-7">

            </div>
            
                <div class="col-sm-7 my-3 mt-5">
                <input name="username" class="form-control" type="text" id="username"
                    placeholder="Login" aria-label="Login" >
                </div>   
            
                <div class="col-sm-7 my-2">
                    <input name="password" class="form-control" type="password" id="password"
                        placeholder="Senha" aria-label="Senha" >
                </div>
                
                <div class="col-sm-7 my-2 d-flex align-items-center justify-content-center">
                    <button onclick="login()" class="col-sm-7 btn btn-outline-success my-2 mx-5" type="submit">Login</button>
                </div>

               <div class="col-sm-7 d-flex align-items-center justify-content-center">
                    <a href="/cadastro" >Cadastre-se</a>
                </div >
           
            
           <div class="col-sm-7 my-2">
                <hr class="deep-purple accent-4 mb-4 mt-3 d-inline-block mx-auto" style="width: 100%;">
           </div>
           

           <div class="col-sm-7 my-2 d-flex align-items-center justify-content-center">
                <div id="login col-sm-9" onclick="FBlogin()" class="fb-login-button" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
           </div>

           <div class="col-sm-7 my-2 d-flex align-items-center justify-content-center">
                <div id="status"></div>
                <button onclick="getInfo()">Get Info</button>
                <!-- <button  id="login">Login</button> -->
           </div>
        </div>
    </div>
    <!-- campo de login -->
{% endblock %}
