{% extends "../base/base.html" %}

{% load static %}

{%block imports%}
    <link rel="stylesheet" type="text/css" href="{%static 'produto/produto.css'%}">
{% endblock %}

    
{% block title %}{{produto.0.nome}}{% endblock %}

{% block content%}
    <!-- Descrição do produto -->
    <div class="row">
        <div class="col-sm-1"></div>

        <div class="thumbnail col-sm-4">
            <img src="{{produto.0.foto.url}}" class="img-fluid" alt="Responsive image">
        </div>

        <div class="col-sm-7">
            <div class="caption">
                <p class="font-weight-bold mx-5 my-5 h3">{{produto.0.nome}}</p>
                <p class="h4 mx-5 font-weight-bold" style="color:#116623;">R$ {{produto.0.preco}}</p>
                <p class="mx-5 my-5">{{produto.0.descricao}}</p>
            </div>
        </div>
    </div>
    <!-- Descrição do produto -->


    <!-- veja também parte -->
    <div class="row">
        <div class="col-sm-1"></div>
        <div class=" col-sm-2 mx-4 my-3">
            <h6 class="text-uppercase font-weight-bold">Veja também</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        </div>
    </div>
    
    <!-- Script de redirecionamento -->
    <script>
        function redirect(produto) {
            location.href = "/produto/?prod="+produto
        }
    </script>
    <!-- Script de redirecionamento -->

    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            {%for prod in mais%}
                <div onclick="redirect({{prod.id}})" class="col-4 col-sm-2 item">
                    <div class="thumbnail" style="margin:5px">
                        <img src="{{prod.foto.url}}" class="img-fluid" alt="Responsive image">
                        <div class="caption">
                            <p class="text-center h6">{{prod.nome}}</p>
                            <p class="text-center text-muted">R$ {{prod.preco}}</p>
                        </div>
                    </div> 
                </div>
            {%endfor%}
        </div>
    </div>
    <!-- veja também parte -->
{% endblock %}