{% extends "../base/base.html" %}

{% load static%}
{%block imports%}
<link rel="stylesheet" type="text/css" href="{%static 'cadastro/cadastro.css'%}">
<script type="text/javascript" src="{%static 'cadastro/cadastro.js'%}"></script>
{% endblock %}

{% block title %}Cadastre-se{% endblock %}

{% block content%}    
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-10 my-3" style="box-shadow: 0 0 11px rgba(33,33,33,.2);">
            <!-- Interior do cadastro -->
            <div class="mt-5">
                <h6 class="text-uppercase font-weight-bold">Dados Pessoais</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 120px;">
            </div>
            
            <div class="row ">
                <div class="col-sm-12">
                    <span id="user-img" style="font-size: 4em;">
                        <i class="fas fa-user img-fluid"></i>
                    </span>

                    <input id="file" type="file" onchange="display(this)" placeholder="Adicione uma foto">
                </div>
                
                
                <div class="form-group col-sm-6">
                    <input id="username"  type="text" class="form-control" placeholder="Username" value=""/>
                </div>

                <div class="form-group col-sm-6"></div> 

                <div class="form-group col-sm-6">
                    <input id="nome" type="text" class="form-control" placeholder="Primeiro Nome" value=""/>
                </div>

                <div class="form-group col-sm-6">
                    <input id="sobrenome" type="text" class="form-control" placeholder="Sobrenome" value=""/>
                </div>

                <div class="form-group col-sm-6">
                    <input id="email" type="text" class="form-control" placeholder="e-mail" value=""/>
                </div> 
                
                <div class="form-group col-sm-6">
                    <input id="telefone" type="text" class="form-control" placeholder="Telefone" value=""/>
                </div>
            </div>
            <div class="mt-3">
                <h6 class="text-uppercase font-weight-bold">Endereço</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <input id="rua" type="text" class="form-control" placeholder="Rua" value=""/>
                </div>

                <div class="form-group col-sm-6">
                    <input id="numero" type="text" class="form-control" placeholder="Numero" value=""/>
                </div>

                <div class="form-group col-sm-6">
                    <input id="bairro" type="text" class="form-control" placeholder="Bairro" value=""/>
                </div>

                <div class="form-group col-sm-6">
                    <input id="complemento" type="text" class="form-control" placeholder="Complemento" value=""/>
                </div>
            </div>
            <div class="mt-3">
                <h6 class="text-uppercase font-weight-bold">Senha</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100px;">
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <input id="senha" type="password" class="form-control" placeholder="Senha" value=""/>
                </div>

                <div class="form-group col-sm-6">
                    <input type="password" class="form-control" placeholder="Confirme sua senha" value=""/>
                </div>
            </div>

            <div class="row d-flex align-items-center justify-content-center">
                <button onclick="cadastrar()" class="mt-5 mb-2 col-sm-4 btn btn-outline-success my-2 mx-5" type="submit">Cadastrar</button>
            </div>
            
            
            


        </div>
    </div>
{% endblock %}