{% extends "../base/base.html" %}

{% load static %}

{%block imports%}
    <link rel="stylesheet" type="text/css" href="{%static 'disprecipe/disprecipe.css'%}">
{% endblock %}

{% block title %}{{recipe.0.titulo}}{% endblock %}
    
    
{% block content %}
         

        <div class="row">         
            <div class="col-sm-12 d-flex justify-content-center">
                <div class="col-sm-6 mt-5">
                    <img src="{{recipe.0.capa.url}}" alt="capa" class="img-fluid">
                </div>
                
            </div>
            <nav class="navbar col-sm-12 navbar-expand-lg navbar-light bg-light d-flex justify-content-center mt-5">
                Receita enviada por: {{recipe.0.dono}}
                <br>
                Data: {{recipe.0.data}}
            </nav>
        </div>


        <div class="row d-flex justify-content-center">
            <div class="col-sm-3 mt-3" style="text-align: justify;">
                <h6 class="text-uppercase font-weight-bold">Ingredientes</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 110px;">
                {{recipe.0.ingredientes|escape|linebreaks}}                
            </div>
            <div class="col-sm-6 mt-3">
                <h6 class="text-uppercase font-weight-bold">Modo de Preparo</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 150px;">
                <div style="text-align: justify;">
                    {{recipe.0.receita|escape|linebreaks}}
                </div>                
            </div>
        </div>

    
    <!-- veja também parte -->
    <div class="row">
        <div class="col-sm-1"></div>
        <div class=" col-sm-2 mx-4 my-3">
            <h6 class="text-uppercase font-weight-bold">Veja também</h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        </div>
    </div>

    <!-- Script de redirecionamento -->
    <script>
        function redirect(recipe) {
            location.href = "/disprecipe/?rec="+recipe
        }
    </script>
    <!-- Script de redirecionamento -->

    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            {%for rec in outros%}
                <div onclick="redirect({{rec.id}})" class="col-4 col-sm-2 item">
                    <div class="thumbnail" style="margin:5px">
                        <img src="{{rec.capa.url}}" class="img-fluid" alt="Responsive image">
                        <div class="caption">
                            <p class="text-center h6">{{rec.titulo}}</p>
                        </div>
                    </div> 
                </div>
            {%endfor%}
        </div>
    </div>
    <!-- veja também parte -->


{% endblock %}


  